@import "./reset.css";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/*상단 일괄삭제 버튼*/
.delButton {
    margin: auto;
    display: block;
    font-size: 25px;
    font-weight: 600;
    padding: 5px 25px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;

}

.delButton:focus {
    background-color: black;
    color: white;
}

/*유저 업로드 나비 정보 값 박스*/
.userButterfly {
    margin: auto;
    border: 3px solid black;
    width: 95%;
    height: 100;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.userImgBox {
    width: 50%;
    border: 1px solid gray;
    padding: 10px;
}

.userImg {
    width: 80%;
    display: block;
    margin: auto;
}

.info {
    margin-left: 10px;
    width: 40%;  
}

.del {
    width: 7%;
}

.indiDel{
    padding: 15px 10px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.indiDel:focus{
    background-color: black;
    color: white;
}

/*페이지넘버*/
.pgNumb {
    display: block;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

.pgNumb:focus {
    background-color: black;
    color: white;
}